<header class="page-header">
    <div class="topnav">

      <a routerLink="planning" (click)="navigPlan()" >Accueil</a>
      <div class="spacer"></div>
      <h2>Form Dev</h2>
      <div class="spacer"></div>
      <a routerLink="planning" (click)="navigPlan()" routerLinkActive="active">Planning</a>
      <a routerLink="module" (click)="navigPart()"  routerLinkActive="active">Module</a>
      <a routerLink="signature" (click)="navigSign()"  routerLinkActive="active">Signature</a>
      <a routerLink="dashboard" (click)="navigDashboard()"  routerLinkActive="active">Tableau de Bord</a>
      <a routerLink (click)="seDeconnecter" >Deconnexion</a>

    </div>
  </header>

<div class="spacer"></div>

<signature-pad #sigPad></signature-pad>

<b>value:</b>
<pre>
  {{sigPad | json}}
</pre>

<button (click)="sigPad.clear()">Clear</button>
