<header class="page-header">
    <div class="topnav">
  
      <a routerLink="planning" >Accueil</a>
      <div class="spacer"></div>
      <h2>Form Dev</h2>
      <div class="spacer"></div>
    <a routerLink="planning" routerLinkActive="active">Planning</a>
    <a routerLink="participant" routerLinkActive="active">Participant</a>
    <a routerLink="signature" routerLinkActive="active">Signature</a>
      <a routerLink (click)="seDeconnecter">
        Se déconnecter
      </a>
  
    </div>
  </header> 

<div class="spacer"></div>


<div class="padsignat">
    <signature-pad #sigPad></signature-pad>

    <b>value:</b>

    <pre>
    {{sigPad | json}} 
    </pre>

    <button (click)="sigPad.clear()">Effacer</button>

</div>