<header class="page-header">
    <div class="topnav">

      <a routerLink="planning" (click)="navigPlan()" >Accueil</a>
      <div class="spacer"></div>
      <h2>Form Dev</h2>
      <div class="spacer"></div>
      <a routerLink="planning" (click)="navigPlan()" routerLinkActive="active">Planning</a>
      <a routerLink="participant" (click)="navigPart()"  routerLinkActive="active">Participant</a>
      <a routerLink="signature" (click)="navigSign()"  routerLinkActive="active">Signature</a>
      <a routerLink (click)="seDeconnecter" >Deconnexion</a>

    </div>
  </header>



<div class="topdiv">
    <p>Nom du module</p>
    <p>Lieu - Durée du Module</p>

</div>

<div class="middiv">Envoyer un e-mail de signature

</div>

<div class="lilist">
    <button (click)="navigQr()" >Générer un QR Code </button>
    <button (click)="navigSign()">Signature de l'intervenant</button>
    <button>Clôturer le module</button>
</div>

<div class="divlist">
    <p>Liste des participants au format :
        checkbox + Nom Prénom + statut + bouton “signer” + bouton “Absent ?” + bouton “Commentaire”</p>

</div>
