<header class="page-header">
    <div class="topnav">
  
      <a routerLink="planning" >Accueil</a>
      <div class="spacer"></div>
      <h2>Form Dev</h2>
      <div class="spacer"></div>
      <a routerLink="seDeconnecter" >Deconnexion</a>
  
    </div>
  </header> 



<div class="topdiv">
    <p>Nom du module</p>
    <p>Lieu - Durée du Module</p>

</div>

<div class="middiv">Envoyer un e-mail de signature 

</div>

<div class="lilist">
    <li>Générer un QR Code </li>
    <li>Signature de l'intervenant</li>
    <li>Clôturer le module</li>
</div>

<div class="divlist">
    <p>Liste des participants au format :
        checkbox + Nom Prénom + statut + bouton “signer” + bouton “Absent ?” + bouton “Commentaire”</p>

</div>