<header class="page-header">
    <div class="topnav">

      <a routerLink="planning" >Accueil</a>
      <div class="spacer"></div>
      <h2>Form Dev</h2>
      <div class="spacer"></div>
      <a routerLink (click)="seDeconnecter" >Deconnexion</a>

    </div>
  </header>



<div>
    <button class="button-qrcode">Scanner le QR Code</button>
</div>

<!-- 1ERE VERSION <qr-code class="qrcode" [value]="'test de qr code pour signature'"></qr-code> -->
<!-- 2E VERSION <qrcode [qrdata]="'Your data string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->

