<header class="page-header">
  <div class="topnav">

    <a routerLink="planning" >Accueil</a>
    <div class="spacer"></div>
    <h2>Form Dev</h2>
    <div class="spacer"></div>
    <a routerLink="seDeconnecter" >Deconnexion</a>

  </div>
</header>

<div *ngIf="!networkStatus"><h3><font color="red">Vous êtes actuellement en mode hors-ligne.</font></h3></div>

<router-outlet></router-outlet>

<footer class="page-footer">
  <div class="foot">
    <ul href="#">
      <li>Test</li>
      <li>Lorem ipsum dolor</li>
    </ul>
  </div>
</footer>
