<header class="page-header">
    <div class="topnav">

      <a routerLink="planning" (click)="navigPlan()" >Accueil</a>
      <div class="spacer"></div>
      <h2>Form Dev</h2>
      <div class="spacer"></div>
      <a routerLink="planning" (click)="navigPlan()" routerLinkActive="active">Planning</a>
      <a routerLink="module" (click)="navigPart()"  routerLinkActive="active">Module</a>
      <a routerLink="signature" (click)="navigSign()"  routerLinkActive="active">Signature</a>
      <a routerLink="dashboard" (click)="navigDashboard()"  routerLinkActive="active">Tableau de Bord</a>
      <a routerLink (click)="seDeconnecter" >Deconnexion</a>

    </div>
  </header>

<h1>Détails du module</h1>

<div class="topdiv">
    <p>Nom du module<br />
      Lieu - Durée du Module</p>
</div>

<div class="middiv">
  <button>Ouvrir le module</button>
  <button>Laisser un commentaire sur le module</button>
  <button>Envoyer les e-mails de signature</button>
</div>

<div class="lilist">
    <button (click)="navigQr()" >Générer un QR Code </button>
    <button (click)="navigSign()">Signature de l'intervenant</button>
    <button>Clôturer le module</button>
</div>

<div class="divlist">
    <p>Liste des participants au format :
        checkbox + Nom Prénom + statut + bouton “signer” + bouton “Absent” + bouton “Commentaire”</p>

</div>
