

body {
    margin: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-participant {
    flex: 1;
}

app-professeur {
    flex: 1;
}

app-connexion {
    flex: 1;
}

app-signature {
    flex: 1;
}

app-planning {
    flex: 1;
}

